<!-- Create your own .env file and populate the below variables, 
you will need to create a Grafana API key to use the API if 
you don't already have one. -->

GRAFANA_API_URL=https://localhost:3000
GRAFANA_API_KEY=<grafana_key_here>
